body{
  background: yellow;
}
@media (max-width: 767px) {
  body{  
  background: red;
  }
}
@media (max-width: 480px) {
  body{  
  background: lightblue;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  body{  
  background: lightgreen;
  }
}
@media (min-width: 980px) {
  body{  
  background: orange;
  }
}
@media (min-width: 1200px) {
  body{  
  background: blue;
  }
}